*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after { 
    content: "";
    display:table ;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(82, 20,20, 0.4),rgba(62,20,20,8.4)), url(black.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    top: 50%;
    left:50%;
    transform: translate(50%, 100);
    background-color:#fff ;
    box-shadow: 0px 10px 20px rgba(0, 0, 0.0 );
    overflow: hidden;
    
}


.player-0-panel,
.player-1-panel {
       width: 50px;
       float:left;
       height:600px;
       padding: 100px;
}

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    color:red;
    margin-bottom: 130px;

}

.active { background-color: #fff;}
.active .player-name { font-weight: 300;}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: red;
    top: -7px;
    right: 10px;

}

.player-current-box {
    background-color: red;
    color: #fff;
    width: 46%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
     text-transform: uppercase;
     margin-bottom: 10px;
     font-size: 12px;
     color: #222;
} 
.player-current-score {
       font-size: 30px;
}



button:hover { font-weight: 600;}
button:hover i {margin-left: 20px;}

button:focus {
    outline: none;
}

i {
    color: red;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transform: margin 0.3s;

}

.btn-new { top: 45px;}
.btn-roll {top: 403pxpx;}
.btn-hold {top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translate(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0.10 );
}

.winner { background-color: #fff;}
.winner .player-name {font-weight: 300; caret-color: red;}